body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.app-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.task-input input {
  width: 70%;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.task-input button {
  padding: 8px 16px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.task-input button:hover {
  background-color: #0056b3;
}

.task-list {
  list-style-type: none;
  padding: 0;
  display: grid;
 
  gap: 1rem;
}

.task-item {
  display: grid;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 0.7rem;
  background-color: white;
  
}

.task-item input {
  width: 70%;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.task-item button {
  border: none;
  background-color: #28a745;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  
}

.task-item button:hover {
  background-color: #218838;
}

.task-item button + button {
  background-color: #dc3545;
  margin-left: 5px;
}

.task-item button + button:hover {
  background-color: #c82333;
}

.button-div {
  display: flex;
  margin-top: 1rem;
}
